<form [formGroup]="vehicleForm" (ngSubmit)="save()">

  <!-- Page Header -->

  <div class="page-header">
    <div>
      <h1>New Vehicle Master</h1>
      
      <p class="subtitle">
        Add and manage vehicle master information
      </p>
    </div>
  </div>


  <div class="card">

    <!-- Vehicle Information -->

    <div class="section-title">
      Vehicle Information
    </div>

    <div class="form-grid">

      <!-- Registration Number -->

      <div class="form-group">

        <label>
          Registration Number
          <span class="required">*</span>
        </label>

        <input
          type="text"
          formControlName="registrationNumber"
          placeholder="Enter registration number"
          maxlength="20"
           oninput="this.value = this.value.toUpperCase()"
          
        />

        @if (
          vehicleForm.controls.registrationNumber.touched &&
          vehicleForm.controls.registrationNumber.invalid
        ) {

          <small class="alert alert-danger">

            @if (vehicleForm.controls.registrationNumber.errors?.['required']) {
              Registration number is required.
            }

            @if (vehicleForm.controls.registrationNumber.errors?.['maxlength']) {
              Maximum 20 characters allowed.
            }

            @if (vehicleForm.controls.registrationNumber.errors?.['pattern']) {
              Only letters, numbers, spaces and hyphens are allowed.
            }

          </small>

        }

      </div>


      <!-- Vehicle Type -->

      <div class="form-group">

        <label>
          Vehicle Type
          <span class="required">*</span>
        </label>
<select formControlName="vehicleTypeId">

  <option value="">
    -- Select Vehicle Type --
  </option>

  @for (type of vehicleTypes; track type.id) {
    <option [value]="type.id">
      {{ type.name }}
    </option>
  }

</select>

        @if (
          vehicleForm.controls.vehicleTypeId.touched &&
          vehicleForm.controls.vehicleTypeId.invalid
        ) {

          <small class="alert alert-danger">
            Vehicle type is required.
          </small>

        }

      </div>


      <!-- Vehicle Category -->

      <div class="form-group">

    <label>
    Vehicle Category
    <span class="required">*</span>
  </label>

  <select formControlName="vehicleCategory">

    <option value="">
      -- Select Category --
    </option>

    @for (category of vehicleCategories; track category.id) {
      <option [value]="category.id">
        {{ category.name }}
      </option>
    }
        </select>

        @if (
          vehicleForm.controls.vehicleCategory.touched &&
          vehicleForm.controls.vehicleCategory.invalid
        ) {

          <small class="alert alert-danger">
            Vehicle category is required.
          </small>

        }

      </div>


      <!-- Make -->

      <div class="form-group">

        <label>
          Make
          <span class="required">*</span>
        </label>

        <input
          type="text"
          formControlName="make"
          placeholder="Enter vehicle make"
          maxlength="50"
        />

        @if (
          vehicleForm.controls.make.touched &&
          vehicleForm.controls.make.invalid
        ) {

          <small class="alert alert-danger">
            Make is required.
          </small>

        }

      </div>


      <!-- Model -->

      <div class="form-group">

        <label>
          Model
          <span class="required">*</span>
        </label>

        <input
          type="text"
          formControlName="model"
          placeholder="Enter vehicle model"
          maxlength="50"
        />

        @if (
          vehicleForm.controls.model.touched &&
          vehicleForm.controls.model.invalid
        ) {

          <small class="alert alert-danger">
            Model is required.
          </small>

        }

      </div>


      <!-- Chassis Number -->

      <div class="form-group">

        <label>
          Chassis Number
          <span class="required">*</span>
        </label>

        <input
          type="text"
          formControlName="chassisNumber"
          placeholder="Enter chassis number"
          maxlength="50"
        />

        @if (
          vehicleForm.controls.chassisNumber.touched &&
          vehicleForm.controls.chassisNumber.invalid
        ) {

          <small class="alert alert-danger">

            @if (vehicleForm.controls.chassisNumber.errors?.['required']) {
              Chassis number is required.
            }

            @if (vehicleForm.controls.chassisNumber.errors?.['maxlength']) {
              Maximum 50 characters allowed.
            }

            @if (vehicleForm.controls.chassisNumber.errors?.['pattern']) {
              Invalid chassis number format.
            }

          </small>

        }

      </div>


      <!-- Fuel Type -->

      <div class="form-group">

        <label>
          Fuel Type
          <span class="required">*</span>
        </label>

        <select formControlName="fuelTypeId">

  <option value="">
    -- Select Fuel Type --
  </option>

  @for (fuel of fuelTypes; track fuel.id) {
    <option [value]="fuel.id">
      {{ fuel.name }}
    </option>
  }

</select>

        @if (
          vehicleForm.controls.fuelTypeId.touched &&
          vehicleForm.controls.fuelTypeId.invalid
        ) {

          <small class="alert alert-danger">
            Fuel type is required.
          </small>

        }

      </div>

    </div>


    <!-- Registration & Insurance -->

    <div class="section-title">
      Registration & Insurance
    </div>

    <div class="form-grid cols-2">

      <!-- Insurance Policy -->

      <div class="form-group">

        <label>
          Insurance Policy Number
        </label>

        <input
          type="text"
          formControlName="insurancePolicyNo"
          placeholder="Enter insurance policy number"
          maxlength="100"
        />

      </div>


      <!-- Insurance Expiry Date -->

      <div class="form-group">

        <label>
          Insurance Expiry Date
        </label>

        <input
          class="date-input"
          [owlDateTime]="insuranceExpiryPicker"
          [owlDateTimeTrigger]="insuranceExpiryPicker"
          formControlName="insuranceExpiryDate"
          placeholder="dd-mm-yyyy"
          readonly
        />
        <owl-date-time
          #insuranceExpiryPicker
          pickerType="calendar"
          [firstDayOfWeek]="1"
          [hideOtherMonths]="true">
        </owl-date-time>

      </div>


      <!-- RC Number -->

      <div class="form-group">

        <label>
          RC Number
          <span class="required">*</span>
        </label>

        <input
          type="text"
          formControlName="rcNumber"
          placeholder="Enter RC number"
          maxlength="50"
        />

        @if (
          vehicleForm.controls.rcNumber.touched &&
          vehicleForm.controls.rcNumber.invalid
        ) {

          <small class="alert alert-danger">
            RC number is required.
          </small>

        }

      </div>


      <!-- FC Number -->

      <div class="form-group">

        <label>
          FC Number
           <span class="required">*</span>
        </label>

        <input
          type="text"
          formControlName="fcNumber"
          placeholder="Enter FC number"
          maxlength="50"
        />

         @if (
          vehicleForm.controls.fcNumber.touched &&
          vehicleForm.controls.fcNumber.invalid
        ) {

          <small class="alert alert-danger">
            FC number is required.
          </small>

        }

      </div>


      <!-- FC Date -->

      <div class="form-group">

        <label>
          FC Date
           <span class="required">*</span>
        </label>

        <input
          class="date-input"
          [owlDateTime]="fcDatePicker"
          [owlDateTimeTrigger]="fcDatePicker"
          formControlName="fcDate"
          placeholder="dd-mm-yyyy"
          readonly
        />
        <owl-date-time
          #fcDatePicker
          pickerType="calendar"
          [firstDayOfWeek]="1"
          [hideOtherMonths]="true">
        </owl-date-time>

         @if (
          vehicleForm.controls.fcDate.touched &&
          vehicleForm.controls.fcDate.invalid
        ) {

          <small class="alert alert-danger">
            FC Date is required.
          </small>

        }

      </div>

    </div>


    <!-- Vehicle Status -->

    <div class="section-title">
      Vehicle Status & Service
    </div>

    <div class="form-grid cols-2">

      <!-- Vehicle Status -->

      <div class="form-group">

        <label>
          Vehicle Status
          <span class="required">*</span>
        </label>

        <select formControlName="vehicleStatusId">

         <option value="">
    -- Select Vehicle Status --
  </option>

  @for (status of vehicleStatuses; track status.id) {
    <option [value]="status.id">
      {{ status.name }}
    </option>
  }
        </select>

        @if (
          vehicleForm.controls.vehicleStatusId.touched &&
          vehicleForm.controls.vehicleStatusId.invalid
        ) {

          <small class="alert alert-danger">
            Vehicle status is required.
          </small>

        }

      </div>


      <!-- Last Service Date -->

      <div class="form-group">

        <label>
          Last Service Date
        </label>

        <input
          class="date-input"
          [owlDateTime]="lastServicePicker"
          [owlDateTimeTrigger]="lastServicePicker"
          formControlName="lastServiceDate"
          placeholder="dd-mm-yyyy"
          readonly
        />
        <owl-date-time
          #lastServicePicker
          pickerType="calendar"
          [firstDayOfWeek]="1"
          [hideOtherMonths]="true">
        </owl-date-time>

      </div>


<!-- Available -->
        <div class="form-group checkbox-group">

          <label class="checkbox-label">

            <input
              type="checkbox"
              formControlName="isAvailable"
            />

            <span>Vehicle Available</span>

          </label>

        </div>

    </div>


    <!-- Buttons -->

    <div class="form-actions">

      <button
        type="reset"
        class="btn btn-outline">
 <i class="fa-solid fa-arrow-rotate-left"></i>
        Reset

      </button>

      <button *ngIf="isSaveButton"
        type="submit"
        class="btn btn-primary"
        [disabled]="vehicleForm.invalid">
<i class="fa-solid fa-check"></i>
        Save Vehicle

      </button>

       <button *ngIf="updateButton"
        type="button"
        class="btn btn-primary btn-update"
        (click)="updateVehicle()"
        [disabled]="vehicleForm.invalid">
<i class="fa-solid fa-check"></i>
        Update Vehicle

      </button>

    </div>

  </div>

</form>