<div class="login-page">
    <div class="login-wrapper">
        <div class="login-left">
            <div class="logo-circle">
                🚛
            </div>
            <h2>NAS Transport</h2>
            <!-- <p>
               NAS
                <br>
               Transport
            </p> -->
            <div class="bottom-links">
                <span>© 2026 NAS Transport. All Rights Reserved.</span>
            </div>
        </div>

        <div class="wave"></div>
        <div class="login-right">
            <h2>Welcome Back</h2>
            <p class="subtitle">
                Sign in to continue
            </p>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label>Username</label>
                    <input
                        type="text" formControlName="username" placeholder="Enter username">
                        <small class="error-text" *ngIf="form.get('username')?.touched && form.get('username')?.hasError('required')">
                         Username is required.
                        </small>
                </div>
                <!-- <div class="form-group">
                    <label>Role</label>
                    <ng-select class="custom-select" formControlName="roleId" [items]="roleList" bindLabel="roleName"
                        bindValue="id" placeholder="Select Role" [clearable]="true" [searchable]="false">
                    </ng-select>
                     <small class="error-text" *ngIf="form.get('roleId')?.touched && form.get('roleId')?.hasError('required')">
                         Role is required.
                     </small>
                </div> -->

                <div class="form-group">
                    <label>Password</label>
                    <input type="password" formControlName="password" placeholder="Enter password">
                    <small class="error-text" *ngIf="form.get('password')?.touched && form.get('password')?.hasError('required')">
                        Password is required.
                    </small>
                </div>

                <button type="submit" class="login-btn">
                    {{ loading() ? 'Signing In...' : 'Sign In' }}
                </button>
            </form>
        </div>
    </div>
</div>