*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Segoe UI",sans-serif;
}
html,
body{
    overflow-x:hidden;
}

body{
    background:#f5f6f8;
}

.login-page{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:30px;
    background:#f5f6f8;
}

.login-wrapper{
    width:900px;
    height:600px;
    background:white;
    display:flex;
    border-radius:18px;
    overflow:hidden;
    box-shadow:0 20px 50px rgba(0,0,0,.12);
}

.login-left{
    width:42%;
    background:linear-gradient(180deg,#985197,#8e308c,#710570);
    color:white;
    position:relative;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding:40px;
}

.logo-circle{
    width:80px;
    height:80px;
    background:white;
    color:#0d6efd;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:38px;
    margin-bottom:20px;
}

.login-left h2{
    font-size:34px;
    margin-bottom:15px;
}

.login-left p{
    text-align:center;
    line-height:28px;
    opacity:.95;
}

.bottom-links{
    position:absolute;
    bottom:25px;
    font-size:13px;
    opacity:.85;
}


.wave{
    width:90px;
    background:white;
    clip-path:path("M0,0 C70,40 70,120 0,170 C70,220 70,300 0,350 C70,400 70,480 0,520 L90,520 L90,0 Z");
}

.error-text {
    color: #dc3545;
    font-size: 12px;
    margin-top: 2px;
}

.login-right{
    flex:1;
    padding:55px;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.login-right h2{
    color:#1f2937;
    margin-bottom:8px;
}

.subtitle{
    color:#6b7280;
    margin-bottom:35px;
}

.form-group{
    margin-bottom:22px;
}

label{
    display:block;
    margin-bottom:8px;
    font-weight:600;
    color:#374151;
}

input{
    width:100%;
    height:48px;
    border:none;
    border-bottom:2px solid #d6d6d6;
    outline:none;
    font-size:15px;
    transition:.3s;
}

input:focus{
    border-bottom:2px solid #985197;
}

.login-btn{
    width:170px;
    height:46px;
    border:none;
    border-radius:30px;
    background:#985197;
    color:white;
    font-weight:600;
    cursor:pointer;
    margin-top:15px;
}

.login-btn:hover{
    background:#943e92;
}

::ng-deep .custom-select .ng-select-container{
    border:none !important;
    border-bottom:2px solid #d6d6d6 !important;
    border-radius:0 !important;
    min-height:46px;
    box-shadow:none !important;
}

::ng-deep .custom-select.ng-select-focused .ng-select-container{
    border-bottom:2px solid #0d6efd !important;
}

@media (max-width: 1024px) {

  .login-wrapper {
    width: 92%;
    max-width: 900px;
  }

  .login-left {
    width: 40%;
    padding: 30px;
  }

  .login-right {
    padding: 35px;
  }

}

@media (max-width:768px) {

.login-page{
    padding:20px;
}

.login-wrapper{
    width:100%;
    max-width:420px;
    height:auto;
    flex-direction:column;
    border-radius:20px;
}

.login-left{
    width:100%;
    min-height:220px;
    border-radius:20px 20px 0 0;
    padding:30px 20px;
}

.wave{
    display:none;
}

.login-left h2{
    font-size:28px;
}

.login-left p{
    font-size:15px;
    line-height:24px;
}

.bottom-links{
    position:static;
    margin-top:25px;
}

.login-right{
    width:100%;
    padding:30px 25px 35px;
}

.login-right h2{
    text-align:center;
}

.subtitle{
    text-align:center;
}

.login-btn{
    width:100%;
}

}

@media (max-width:480px){

.login-page{
    padding:15px;
}

.login-wrapper{
    border-radius:18px;
}

.login-left{
    min-height:180px;
    padding:25px 15px;
}

.logo-circle{
    width:65px;
    height:65px;
    font-size:30px;
}

.login-left h2{
    font-size:24px;
}

.login-left p{
    font-size:14px;
}

.login-right{
    padding:25px 20px;
}

.login-right h2{
    font-size:26px;
}

.subtitle{
    font-size:14px;
}

.form-group{
    margin-bottom:18px;
}

input{
    height:46px;
    font-size:14px;
}

::ng-deep .custom-select .ng-select-container{
    min-height:46px;
}

.login-btn{
    height:46px;

    font-size:15px;
}

}

@media (max-width:360px){
.login-left{
    min-height:160px;

}
.login-left h2{
    font-size:22px;
}

.login-left p{
    font-size:13px;
}

.login-right{
    padding:20px 16px;
}

.login-right h2{
    font-size:22px;
}

label{
    font-size:14px;
}

input{
    font-size:13px;
}

.login-btn{
    font-size:14px;
}
}

.custom-select{
    width:100%;
}

::ng-deep .custom-select .ng-select-container{
    width:100%;
}

::ng-deep .ng-dropdown-panel{
    width:100% !important;
}