<div class="login-page">
    <div class="login-wrapper">
        <div class="login-left">
            <div class="logo-circle">
                🚛
            </div>
            <h2>FleetPro</h2>
            <p>
                Vehicle Daily Tracking
                <br>
                & Expense Management
            </p>
            <div class="bottom-links">
                <span>Fleet Management</span>
            </div>
        </div>

        <div class="wave"></div>
        <div class="login-right">
            <h2>Welcome Back</h2>
            <p class="subtitle">
                Sign in to continue
            </p>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label>Username</label>
                    <input
                        type="text" formControlName="username" placeholder="Enter username">
                </div>
                <div class="form-group">
                    <label>Role</label>
                    <ng-select class="custom-select" formControlName="roleId" [items]="roleList" bindLabel="roleName"
                        bindValue="id" placeholder="Select Role">
                    </ng-select>
                </div>

                <div class="form-group">
                    <label>Password</label>
                    <input type="password" formControlName="password" placeholder="Enter password">
                </div>

                <button type="submit" class="login-btn">
                    {{ loading() ? 'Signing In...' : 'Sign In' }}
                </button>
            </form>
        </div>
    </div>
</div>