<div class="permission-container">

    <h2>Role Permission</h2>

    <div class="form-row">

        <!-- Role -->
        <div class="form-group">

            <label>Role</label>

         <select [(ngModel)]="selectedRoleId">
    <option [ngValue]="null" selected>Select Role</option>

    <option *ngFor="let role of roles" [ngValue]="role.id">
        {{ role.roleName }}
    </option>
</select>

        </div>

        <!-- Pages -->
        <div class="form-group">

            <label>Pages</label>

            <div class="dropdown">

                <div
                    class="dropdown-header"
                    (click)="toggleDropdown()">

                    {{ selectedPages.length > 0
                        ? selectedPages.length + ' Pages Selected'
                        : 'Select Pages' }}

                    <span>▼</span>

                </div>

                <div
                    class="dropdown-body"
                    *ngIf="dropdownOpen">

                    <div
                        class="checkbox-item"
                        *ngFor="let menu of menus">

                        <input
                            type="checkbox"
                            [id]="'menu'+menu.id"
                            [checked]="isSelected(menu)"
                            (change)="onCheckboxChange($event,menu)">

                        <label
                            [for]="'menu'+menu.id">

                            {{ menu.menuName }}

                        </label>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <!-- Selected Pages -->

    <div class="selected-section">

        <label>Selected Pages</label>

        <div class="chips">

            <span
                class="chip"
                *ngFor="let page of selectedPages">

                {{ page.menuName }}

            </span>

        </div>

    </div>

    <div class="button-area">

        <button class="save-btn"
                (click)="saveData()">
            Save
        </button>

        <button class="reset-btn"
                (click)="resetForm()">
            Reset
        </button>

    </div>

</div>